<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="card">
      <div class="card-header">
        <h1>Login</h1>
      </div>
      <div class="card-body">
        <form action="/login-success" method="POST">
          <div class="mb-3">
            <label>Name User</label>
            <input type="text" name="name" class="form-control" />
            <div class="mb-3">
              <label>Password</label>
              <input type="password" name="pw" class="form-control" />
            </div>
            <div class="mb-3 text-center">
              <input type="submit" value="Login" class="btn btn-primary" />
            </div>
            <div class="text-center">
              <p>Not a member? <a href="/register">Register</a></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
